        
         /*                */
        /* Estilo general */
       /*                */

        meta[name="viewport"] {
            content: width=device-width, initial-scale=1.0;
        }

        * {
            margin: 0px 0px 0px 0px;
        }

        a {
            text-decoration: none;
            font-family: 'Nunito Sans', sans-serif;
        }

        p {
            font-family: 'Nunito Sans', sans-serif;
        }

        body {
            background-image: url(img/fondo1.jpg);
        }

        h3{
            font-family: 'Nunito Sans', sans-serif;
        }

        h2{
            font-family: 'Nunito Sans', sans-serif;
        }

        .BarraNavegacion {
            text-align: center;
            background-color: rgb(202, 36, 36);
            padding-top: 10px;
            padding-bottom: 25px;
            border-bottom: 10px solid rgb(124, 22, 22);
            width: 100%;
        }

        .BarraNavegacion a {
            transition: 0.3s;
        }           

        .BarraNavegacion a:hover{
            position: relative;
            top: -3px;
        }

        .BarraNavegacionSociales1,
        .BarraNavegacionSociales2,
        .BarraNavegacionSociales3 {
            margin-left: 20px;
            position: relative;
            left: 200px;
        }

        .BarraNavegacionSociales1 img,
        .BarraNavegacionSociales2 img,
        .BarraNavegacionSociales3 img {
            position: relative;
            top: 10px;
            background-color: white;
            border-radius: 90px;
            padding: 3px; 
            width: 30px; 
            height: auto; 
        }

        .BarraNavegacionInicio,
        .BarraNavegacionServices,
        .BarraNavegacionAcerca,
        .BarraNavegacionContacto {
            color: white;
            font-size: 20px;
            margin-left: 40px;
        }    

         /*                         */
        /* Estilo pagina principal */
       /*                         */

        .iniciologo img{
            position: relative;
            margin-top: 20px;
            margin-bottom: 20px;
            left: 13%;
            width: 1035px;
            border-radius: 13px;
        }

        .ContenedorInicioBienvenido{
            position: relative;
            left: 13%;
            display: flex;
            width: 1035px;
        }

        .inicioImg img{
            width: 400px;
            height: auto;
            border: 6px solid rgb(184, 63, 30);
            border-right: 6px solid rgb(241, 84, 40);
            border-top-left-radius: 13px;
            border-bottom-left-radius: 13px;
        }

        .inicioText{
            width: 620px;
            height: 400px;
            background-color: rgb(241, 84, 40);
            border: 6px solid rgb(184, 63, 30);
            border-left: 6px solid rgb(241, 84, 40);
            border-top-right-radius: 13px;
            border-bottom-right-radius: 13px;
        }

        .inicioText p {
            color: white;
            text-align: justify;
            position: relative;
            width: 600px;;
            font-size: 12px;
            margin: 8px;
        }

         /*                       */
        /*Estilo pagina servicios*/
       /*                       */

       .ContactoServiciosInstagram{
            position: relative;
            left: 137px;
            top: 30px;
            display: flex;
            height: auto;
            border-bottom: 4px solid rgb(241, 84, 40);
            max-width: 300px;
        }

        .ContactoServiciosInstagram img{
            width: 50px;
            height: auto;
        }

        .ContactoServiciosInstagramText p{
            position: relative;
            bottom: -20px;
            margin-right: 40px;
        }

       .ContenedorPrincipalServicios {
            display: flex;
            position: relative;
        }

        .serviciosContenedorIngredientes,
        .serviciosContenedorEquipos,
        .serviciosContenedorElaboracion,
        .serviciosContenedorEntrega {
            position: relative;
            top: 100px;
            left: 4%;
            padding: 20px;
            margin: 20px;
            height: 250px;
            margin-bottom: 250px;
            background-color: white;
            border: 4px solid rgb(241, 84, 40);
            border-radius: 10px ;
            transition: 0.3s;
        }

        .serviciosContenedorIngredientes:hover,
        .serviciosContenedorEquipos:hover,
        .serviciosContenedorElaboracion:hover,
        .serviciosContenedorEntrega:hover {
            position: relative;
            top: 80px;
        }

        .serviciosContenedorIngredientes p,
        .serviciosContenedorEquipos p,
        .serviciosContenedorElaboracion p,
        .serviciosContenedorEntrega p {
            font-size: 12px ;
        }

        .serviciosContenedorIngredientes img,
        .serviciosContenedorElaboracion img,
        .serviciosContenedorEquipos img,
        .serviciosContenedorEntrega img {
            position: relative;
            width: 220px;
            height: auto;
            border-radius: 10px;
        }

         /*                             */
        /*Estilo Servicios Ingredientes*/
       /*                             */

        .ContenedorPrincipalIngredientes {
            position: relative;
            top: 40px;
            left: 10%;
            max-width: 1000px;    
        }

        .IngredientesNombre{
            height: 18px;
            border-bottom: 4px solid rgb(241, 84, 40);
        }

        .ContenedorPrincipalIngredientes img{
            width: 150px;
            height: auto;
            border-radius: 10px;
        }

        .precio {
            color: rgb(40, 255, 40);;
        }

        .ContenedorMasas,
        .ContenedorRellenos,
        .ContenedorAdicionales,
        .ContenedorAdicionales2{
            margin-top: 20px;
            margin-bottom: 20px;
            display: flex;
            max-width: 1500px;
            border-radius: 10px;
        }

        .Masas,
        .Rellenos,
        .Adicionales,
        .Adicionales2{
            padding: 10px;
            margin: 20px;
        }

        .InformacionContacto {
            display: flex;
        }

        .InformacionContacto img{
            width: 40px;
            height: auto;
        }

        .ContactoTwitter {
            border-radius: 90px;
        }

         /*                        */
        /*Estilo Servicios Equipos*/
       /*                        */

        .ContenedorPrincipalEquipo{
            position: relative;
            top: 40px;
            left: 10%;
            max-width: 1000px; 
        }

        .UtenciliosNombre,       
        .EquiposNombre{
            height: 18px;
            border-bottom: 4px solid rgb(241, 84, 40);
        }

        .ContenedorPrincipalEquipo img{
            width: 150px;
            height: auto;
            border-radius: 10px;
        }

        .ContenedorEquipos,
        .ContenedorEquipos2,
        .ContenedorUtencilios{
            margin-top: 20px;
            margin-bottom: 20px;
            display: flex;
            max-width: 1500px;
            border-radius: 10px;
        }

        .Equipos,
        .Utencilios{
            padding: 10px;
            margin: 20px;
        }

         /*                         */
        /*Estilo Servicios Personal*/
       /*                         */

        .ContenedorPrincipalPersonal{
            position: relative;
            top: 40px;
            left: 10%;
            max-width: 1000px; 
        }

        .PersonalNombre {
            height: 18px;
            border-bottom: 4px solid rgb(241, 84, 40);
        }

        .ContenedorPrincipalPersonal img{
            width: 150px;
            height: auto;
            border-radius: 10px;
        }

        .ContenedorPersonal,
        .ContenedorPersonal2{
            margin-top: 20px;
            margin-bottom: 20px;
            display: flex;
            max-width: 1500px;
            border-radius: 10px;
        }

        .Personal,
        .Personal2{
            padding: 10px;
            margin: 20px;
        }

         /*                      */
        /*Estilo Servicios Tamal*/
       /*                      */

        .ContenedorPrincipalTamal{
            position: relative;
            top: 40px;
            left: 10%;
            max-width: 1000px; 
        }

        .TamalNombre {
            height: 18px;
            border-bottom: 4px solid rgb(241, 84, 40);
        }

        .ContenedorPrincipalTamal img{
            width: 150px;
            height: auto;
            border-radius: 10px;
        }

        .ContenedorTamal,
        .ContenedorTamal2,
        .ContenedorTamal3{
            margin-top: 20px;
            margin-bottom: 20px;
            display: flex;
            max-width: 1500px;
            border-radius: 10px;
        }

        .Tamal,
        .Tamal2,
        .Tamal3{
            padding: 10px;
            margin: 20px;
        }

         /*                      */
        /*Estilo pagina historia*/
       /*                      */

        .ContenedorPrincipalHistoria {
            display: flex;
            position: relative;
            left: 3%;
            top: 20px;
            width: 1250px;
            max-height: 600px;
            background-color: red;
            border-radius: 15px;
        }

        .historiaImg img {
            width: 600px;
            height: auto;
            border-top-left-radius: 15px;
            border-bottom-left-radius: 15px;
            }

        .historiaText p{
            position: relative;
            top: 35px;
            left: 40px;
            color: white;
            text-align: justify;
            max-width: 570px;
            }

         /*                       */
        /*Estilo Pagina Politicas*/
       /*                       */

        .projectoPoliticas { 
            text-align: justify;
            position: relative;
            top: 30px;
            left: 25%;
            width: 600px;
            }

         /*                       */
        /*Estilo Pagina Contacto*/
       /*                       */

        .contactoContenedor {
            position: relative;
            top: 30px;
            left: 20%;
            width: 800px;
            }
    
        .formulario1 {
            border-radius: 10px;
            border: 2px solid black;
            padding: 10px;
            }
        
        .ContactoInstagram{
            width: 40px;
            height: auto;
        }

         /*             */
        /*Pie de Página*/
       /*             */

        footer {
            position: relative;
            color: white;
            font-size: 10px;
            display: flex;
            background-color: rgb(145, 0, 0);
            width: 100%;
            padding-top: 20px;
            padding-bottom: 20px;
            margin: 50px 0px 0px 0px;
            bottom: 0px;
            }

        .footerContenedorInformacion {
            position: relative;
            left: 24%;
            height: 80px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            }

        .footerlogo img {
            width: 80px;
            height: auto;
            margin: 0px 40px 0px 0px;
            }

        .informacioncontacto {
            margin: 0px 40px 0px 0px;
            }

        .informacion2 {
            max-width: 300px;
            text-align: justify;
            }


        @media screen and (max-width: 1080px) {

            .BarraNavegacion

            .BarraNavegacion a {
                font-size: 16px;
            }
        

            .BarraNavegacionSociales1,
            .BarraNavegacionSociales2,
            .BarraNavegacionSociales3 {
                margin-left: 10px;
                position: relative;
                left: 10px;
            }

            .BarraNavegacionSociales1 img,
            .BarraNavegacionSociales2 img,
            .BarraNavegacionSociales3 img {
                position: relative;
                top: 10px;
                border-radius: 90px; 
                width: 30px; 
                height: auto; 
            }

            .BarraNavegacionInicio,
            .BarraNavegacionServices,
            .BarraNavegacionAcerca,
            .BarraNavegacionContacto {
                color: white;
                font-size: 20px;
                margin-left: 20px;
            } 

            /*Pagina Inicio*/

            .iniciologo img{
                position: relative;
                margin-top: 20px;
                margin-bottom: 20px;
                left: 13%;
                width: 500px;
                border-radius: 13px;
            }

            .ContenedorInicioBienvenido,
            .inicioImg img,
            .inicioText {
                width: 100%;
            }

            .ContenedorInicioBienvenido{
                position: relative;
                left: 13%;
                display: flex;
                width: 500px;
            }
    
            .inicioImg img{
                width: 200px;
                height: auto;
                border: 6px solid rgb(184, 63, 30);
                border-right: 6px solid rgb(241, 84, 40);
                border-top-left-radius: 13px;
                border-bottom-left-radius: 13px;
            }
    
            .inicioText{
                width: 280px;
                height: 200px;
                background-color: rgb(241, 84, 40);
                border: 6px solid rgb(184, 63, 30);
                border-left: 6px solid rgb(241, 84, 40);
                border-top-right-radius: 13px;
                border-bottom-right-radius: 13px;
            }
    
            .inicioText p {
                color: white;
                text-align: justify;
                position: relative;
                width: 260px;;
                font-size: 6px;
                margin: 8px;
            }
            /*footer*/
            footer {
                position: relative;
                color: white;
                font-size: 6px;
                display: flex;
                background-color: rgb(145, 0, 0);
                width: 100%;
                padding-top: 20px;
                padding-bottom: 20px;
                margin: 50px 0px 0px 0px;
                bottom: 0px;
                }
    
            .footerContenedorInformacion {
                position: relative;
                left: 24%;
                height: 80px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                }
    
            .footerlogo img {
                width: 40px;
                height: auto;
                margin: 0px 20px 0px 0px;
                }
    
            .informacioncontacto {
                margin: 0px 20px 0px 0px;
                }
    
            .informacion2 {
                max-width: 180px;
                text-align: justify;
                }

            /*servicios*/

            .ContactoServiciosInstagram{
                position: relative;
                left: 137px;
                top: 30px;
                display: flex;
                height: auto;
                border-bottom: 4px solid rgb(241, 84, 40);
                max-width: 300px;
            }
    
            .ContactoServiciosInstagram img{
                width: 50px;
                height: auto;
            }
    
            .ContactoServiciosInstagramText p{
                position: relative;
                bottom: -20px;
                margin-right: 40px;
            }
    
           .ContenedorPrincipalServicios {
                max-width: 200px;
                max-height: 1000px;
            }
    
            .serviciosContenedorIngredientes,
            .serviciosContenedorEquipos,
            .serviciosContenedorElaboracion,
            .serviciosContenedorEntrega {
                position: relative;
                top: 40px;
                left: 4%;
                padding: 20px;
                margin: 20px;
                height: 150px;
                margin-bottom: 150px;
                background-color: white;
                border: 4px solid rgb(241, 84, 40);
                border-radius: 10px ;
                transition: 0.3s;
            }   
    
            .serviciosContenedorIngredientes p,
            .serviciosContenedorEquipos p,
            .serviciosContenedorElaboracion p,
            .serviciosContenedorEntrega p {
                font-size: 12px ;
            }
    
            .serviciosContenedorIngredientes img,
            .serviciosContenedorElaboracion img,
            .serviciosContenedorEquipos img,
            .serviciosContenedorEntrega img {
                position: relative;
                width: 120px;
                height: auto;
                border-radius: 10px;
            }

                
        }          