        
         /*                */
        /* Estilo general */
       /*                */

        * {
            margin: 0px 0px 0px 0px;
            }

        a {
            text-decoration: none;
            font-family: 'Nunito Sans', sans-serif;
            }
        p {
            font-family: 'Nunito Sans', sans-serif;
        }

        body {
            background-image: url(img/fondo1.jpg);
            }

        .BarraNavegacion {
            text-align: center;
            background-color: rgb(202, 36, 36);
            padding-top: 10px;
            padding-bottom: 25px;
            border-bottom: 10px solid rgb(124, 22, 22);
            }

        .BarraNavegacion a:hover{
            color: rgb(117, 117, 117);
            }

        .BarraNavegacionSociales1,
        .BarraNavegacionSociales2,
        .BarraNavegacionSociales3 {
            margin-left: 20px;
            position: relative;
            left: 200px;
            }

        .BarraNavegacionSociales1 img,
        .BarraNavegacionSociales2 img,
        .BarraNavegacionSociales3 img {
            position: relative;
            top: 10px;
            background-color: white;
            border-radius: 90px;
            padding: 3px; 
            width: 30px; 
            height: auto; 
            }

        .BarraNavegacionInicio,
        .BarraNavegacionServices,
        .BarraNavegacionAcerca,
        .BarraNavegacionContacto {
            color: white;
            font-size: 20px;
            margin-left: 40px;
            }    

         /*                         */
        /* Estilo pagina principal */
       /*                         */

        .iniciologo img{
            position: relative;
            margin-top: 20px;
            margin-bottom: 20px;
            left: 13%;
            width: 1035px;
            border-radius: 13px;
            }

        .ContenedorInicioBienvenido{
            position: relative;
            left: 13%;
            display: flex;
            width: 1035px;
        }

        .inicioImg img{
            width: 400px;
            height: auto;
            border: 4px solid rgb(225, 86, 48);
            border-top-left-radius: 13px;
            border-bottom-left-radius: 13px;
        }

        .inicioText{
            width: 620px;
            height: 400px;
            background-color: rgb(241, 84, 40);
            border: 4px solid rgb(241, 84, 40);
            border-top-right-radius: 13px;
            border-bottom-right-radius: 13px;
            }

        .inicioText p {
            color: white;
            text-align: justify;
            position: relative;
            width: 600px;;
            font-size: 12px;
            margin: 8px;
            }

         /*                       */
        /*Estilo pagina servicios*/
       /*                       */

       .ContenedorPrincipalServicios {
            display: flex;
            position: relative;
            }

        .serviciosContenedorIngredientes,
        .serviciosContenedorEquipos,
        .serviciosContenedorElaboracion,
        .serviciosContenedorEntrega {
            position: relative;
            top: 100px;
            left: 4%;
            padding: 20px;
            margin: 20px;
            height: 250px;
            margin-bottom: 250px;
            align-items:normal;
            background-color: white;
            border: 4px solid rgb(241, 84, 40);
            border-radius: 10px ;
            }

        .serviciosContenedorIngredientes:hover,
        .serviciosContenedorEquipos:hover,
        .serviciosContenedorElaboracion:hover,
        .serviciosContenedorEntrega:hover {
            position: relative;
            top: 80px;
            left: 0px;
            margin-right: -20px;
            width: 260px;
            height: 260px;
        }

        .serviciosContenedorIngredientes img,
        .serviciosContenedorElaboracion img,
        .serviciosContenedorEquipos img,
        .serviciosContenedorEntrega img {
            position: relative;
            width: 220px;
            height: auto;
            }

         /*                       */
        /*Estilo pagina historia*/
       /*                       */

        .historiaTextBorder{
            background-color: rgb(211, 6, 6);
            position: relative;
            max-width: 700px;
            height: 600px;
            } 

        .historiacontenedor {
            display: flex;
            background-color: red;
            position: relative;
            left: 2%;
            top: 20px;
            width: 1300px;
            height: 800px;
            }

        .historiacontenedor img {
            width: 800px;
            height: auto;
            }

        .historiaText p{
            position: relative;
            left: 7%;
            top: 40px;
            color: white;
            font-family: Arial, sans-serif;
            text-align: justify;
            max-width: 450px;
            }

        footer {
            position: relative;
            color: white;
            font-family: Arial, sans-serif;
            font-size: 10px;
            display: flex;
            background-color: rgb(145, 0, 0);
            width: 100%;
            padding-top: 20px;
            padding-bottom: 20px;
            margin: 50px 0px 0px 0px;
            bottom: 0px;
            }

        .footerlogo img {
            background-color: rgb(145, 0, 0);
            width: 80px;
            height: auto;
            margin: 0px 40px 0px 0px;
            }

        .informacioncontacto {
            margin: 0px 40px 0px 0px;
            }

        .informacion2 {
            max-width: 300px;
            text-align: justify;
            }

        .footercontenedor {
            position: relative;
            left: 24%;
            background-color: rgb(145, 0, 0);
            height: 80px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            }

        .contactoContenedor {
            font-family: Arial, sans-serif;
            position: relative;
            top: 30px;
            left: 20%;
            width: 800px;
            }

        .formulario1 {
            border-radius: 10px;
            border: 2px solid black;
            padding: 10px;
            }

        .formulario {
            font-family: Arial, sans-serif;
            position: relative;
            top: 30px;
            left: 25%;
            width: 600px;
            border-radius: 10px;
            border: 2px solid red;
            padding: 10px;
            }

        .ingredientesFormulario,.equipoFormulario,.personalFormulario,.pedidoFormulario { 
            font-family: Arial, sans-serif;
            position: relative;
            top: 30px;
            left: 25%;
            width: 600px;
            }

        .projectoPoliticas { 
            font-family: Arial, sans-serif;
            text-align: justify;
            position: relative;
            top: 30px;
            left: 25%;
            width: 600px;
            }



